.number-buttons{
    height: 40px;
    width: 40px;
}

.equals-button{
    height: 40px;
    width: 160px;
}

.boxes{
    height: 80px;
    width: 70px;
    
}

.box-rows{
    padding: 0;
    margin: 0;
}

#box-div{
    height: 160px;
    width: 160px;
    align-items: center;
   
}